<div fxLayout="row">
  <div fxFlex="50" fxLayout="column" fxLayoutAlign="center center">
    <h3>Choose Date</h3>
    <div style="width: 300px; height: auto; border: 1px solid #eee; border-radius: 4px;">
      <mat-calendar></mat-calendar>
    </div>
  </div>
  <div fxFlex="45">
    <h3>Choose Time Slot</h3>
    <div fxLayout="row wrap" fxLayoutGap="15px grid">
      <mat-radio-button style="margin-top: 10px;">9:30am - 10:30am</mat-radio-button>
      <mat-radio-button style="margin-top: 10px;">9:30am - 10:30am</mat-radio-button>
      <mat-radio-button style="margin-top: 10px;">9:30am - 10:30am</mat-radio-button>
      <mat-radio-button style="margin-top: 10px;">9:30am - 10:30am</mat-radio-button>
      <mat-radio-button style="margin-top: 10px;">9:30am - 10:30am</mat-radio-button>
      <mat-radio-button style="margin-top: 10px;">9:30am - 10:30am</mat-radio-button>
      <mat-radio-button style="margin-top: 10px;">9:30am - 10:30am</mat-radio-button>
    </div>
  </div>
</div>
